<div>
  <mat-form-field>
    <mat-label>選擇頻道</mat-label>
    <mat-select [(value)]="selected">
      <mat-option *ngFor="let channel of channels" value="{{channel}}">
        {{channel}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="SendJoinChannel()">
    <mat-icon>thumb_up</mat-icon>
  </button>
</div>
<ul id="messages">
  <li *ngFor="let item of messages">{{item}}</li>
</ul>
<div id="inputdiv">
  輸入:<input type="text" id="msginput" #textbox [(ngModel)]="textValue">
  <button id="msgbtn" (click)="Sendchatmessage()">發送</button>
  <hr>
</div>