<h3>使用者列表</h3>
<div>
  <a [routerLink]="['/add']">加入使用者</a>
</div>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let user of users" >
    <td>{{user.user_id}}</td>
    <td>{{user.user_name}}</td>
    <td>{{user.user_email}}</td>
    <td>
      <a routerLink="/detail/{{user.user_id}}">使用者資訊</a>
      &nbsp;
      <a routerLink="/edit/{{user.user_id}}">編輯使用者資訊</a>
      &nbsp;
      <button (click)="delete(user)">X</button> 
    </td>
  </tr>
</table>