<div>
  <h3>目前namespace->{{curnamespace}}</h3>
</div>
<table border="1">
  <tr>
    <td>頻道<app-chat-room [socketiourl]="curnamespace"></app-chat-room>
    </td>
    <td>頻道
      <app-chat-room [socketiourl]="curnamespace"></app-chat-room>
    </td>
    <td>頻道
      <app-chat-room [socketiourl]="curnamespace"></app-chat-room>
    </td>
    <td>頻道
      <app-chat-room [socketiourl]="curnamespace"></app-chat-room>
    </td>

    　
  </tr>

  <tr>
    <td>頻道
      <app-chat-room [socketiourl]="curnamespace"></app-chat-room>
    </td>
    <td>頻道
      <app-chat-room [socketiourl]="curnamespace"></app-chat-room>
    </td>
    <td>頻道
      <app-chat-room [socketiourl]="curnamespace"></app-chat-room>
    </td>
    <td>頻道
      <app-chat-room [socketiourl]="curnamespace"></app-chat-room>
    </td>

    　
  </tr>

</table>