<mat-toolbar class="demo-app-header" color="primary">
  <button mat-icon-button (click)="sideNav.toggle()">
    <mat-icon>{{sideNav.opened ? 'close':'menu'}}</mat-icon>
  </button>
  <span>多頻道demo</span>
  <!-- 在這之後的都會被推到右邊去 -->
  <span class="toobar-seprator"></span>
  <button mat-icon-button>
    <mat-icon>message</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>exit_to_app</mat-icon>
  </button>

</mat-toolbar>

<mat-sidenav-container class="demo-app-container">

  <mat-sidenav class="demo-app-sidenav" #sideNav mode="push">
    <mat-nav-list>
      <h3 matSubheader>SocketIO</h3>
      <a routerLink="./manager" mat-list-item>管理端</a>
      <a routerLink="./sender" mat-list-item>傳送端</a>
      <h3 matSubheader>聊天相關</h3>
      <a routerLink="./reciver" mat-list-item>接收端</a>

      <!-- 另外一組選單 -->
      <mat-divider></mat-divider>
      <h3 matSubheader>測試頁面</h3>
      <a routerLink="./ngmaterial" mat-list-item>NG元件</a>

    </mat-nav-list>
  </mat-sidenav>

  <!-- <mat-sidenav class="demo-app-sidenav" opened="true" mode="side" position="end">
    <div>我是右邊選單</div>
  </mat-sidenav> -->

  <mat-sidenav-content>
    <!-- <button mat-button (click)="toggleSideNav(sideNav)">切換左邊選單</button> -->



    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>