<div>
  <mat-form-field>
    <mat-label>選擇頻道</mat-label>
    <mat-select [(value)]="selected">
      <mat-option *ngFor="let channel of channels" value="{{channel}}">
        {{channel}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="SendJoinChannel()">
    <mat-icon>thumb_up</mat-icon>
  </button>
  <span>
    不顯示只傳送: <input type="checkbox" id="myCheck" [(ngModel)]="myCheck" (click)="CheckClick()" />
  </span>
</div>
<div>
  <div class="imgshow">
    <img id="photoImage" #photoImage class="clsimage" />
  </div>
  <div id="inputdiv">
    <p>選擇圖片</p>
    <input type="file" multiple="multiple" id="file" #file (change)="Upload(file)">
  </div>
</div>