<html>

<body>
    <h1>加入一本書</h1>
    <form method="POST" action="/">
        <input type="text" name="title">
        <input type="submit" value="增加">
    </form>

    <h1>書本列表</h1>
    {% for book in books %}
    <p>{{book.title}}</p>
    <form method="POST" action="./update">
        <input type="hidden" value="{{book.title}}" name="oldtitle">
        <input type="text" value="{{book.title}}" name="newtitle">
        <input type="submit" value="Update">
    </form>
    <form method="POST" action="./delete">
        <input type="hidden" value="{{book.title}}" name="title">
        <input type="submit" value="刪除">
    </form>
    {% endfor %}
</body>

</html>